<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.localhost.app.mobile.learningandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.thoughtbot.expandablecheckrecyclerview, com.thoughtbot.expandablerecyclerview" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.JsoupActivity" />
        <activity android:name=".ui.activity.NestedScrollActivity" />
        <activity android:name=".ui.activity.RecyclerViewActivity" />
        <activity android:name=".ui.activity.RecyclerActivity" />
        <activity android:name=".ui.activity.RecyclerCardActivity" />
        <activity android:name=".ui.activity.RecyclerPhotoActivity" />
        <activity android:name=".ui.activity.RecyclerDragActivity" />
        <activity
            android:name=".ui.activity.RecyclerExpandActivity"
            android:label="@string/recyclerview_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AnnotationActivity"
            android:label="@string/annotation_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PercentActivity"
            android:label="@string/percent_actionbar_title" />
        <activity
            android:name=".ui.activity.CollapsingActivity"
            android:label="@string/collpasing_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DifferentRowActivity"
            android:label="@string/differentrow_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.XMLBindingActivity"
            android:label="@string/xmlbinding_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ConstraintActivity"
            android:label="@string/constraint_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PubSubActivity"
            android:label="@string/pubsub_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RetrofitActivity"
            android:label="@string/retrofit_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RealmActivity"
            android:label="@string/realm_actionbar_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ReflectionActivity"
            android:label="@string/reflection_actionbar_title" />
        <activity
            android:name=".ui.activity.LithoActivity"
            android:label="@string/litho_actionbar_title" />
        <activity
            android:name=".ui.activity.CustomViewActivity"
            android:label="@string/customview_actionbar_title" />
    </application>

</manifest>